/****************************************ENTIRE SITE CODE****************************************************/
body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
}
header {
  display: inline-block;
    background-color: #544844;
    color:#ffbac0;
    margin: 0;
    text-align: center;
    width: 100vw;
}
main {
  background-color:#ffdee4;
}
main p{
  color:#544844;
  font-family:"Reddit Mono", Arial, monospace;
  font-weight:500;
  padding: 2rem;
}
main h2, h3, h4, h5 {
  color:#ffbac0;
  font-family:"Merriweather", Courier, serif;
  font-weight:800;
  background-color:#544844;
  padding: 1rem;
  margin: auto;
  width: 25%;
  border-radius: 25px;
  text-align: center;
}
/********************Dropdown Nav code, used everywhere EXCEPT Homepage******************/
.navmenu {
  background-color: #544844;
  font-family:"Merriweather", Courier, serif;
  overflow:hidden;
  padding: 1rem;
}
.navmenu a {
  float:left;
  font-size: 1rem;
  color:#ffbac0;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight:600;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbutton {
  font-size: 1rem;
  font-weight:600;
  border: none;
  outline: none;
  color: #ffbac0;
  padding: 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navmenu a:hover, .dropdown:hover .dropbutton {
  background-color:#ffbac0;
  color:#544844;
  border-radius: 25px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffbac0;
  min-width: 10rem;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #544844;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #544844;
  color: #ffbac0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*******************Might Reapply if time!*****************
#logo {
  float:right;
  width: 3rem;
  margin: 1rem;
  border-radius: 25px;
}
**********************/
/**********************************HOME PAGE CODE*************************************************************/
#home-page {
  color:#544844;
  text-align: center;
  background-color: #ffdee4;
  padding: 0;
  max-width: 100vw;
}
.home-page {
  background-image: url("images/wainscotingdesktop.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  width: 100%;
}
/*************Image Nav Gallery code*********************************************/
/*****Image nav w/ clickable label, courtesy of w3schools*****/
.container {
  display: inline-block;
  padding: .5rem;
  position: relative;
  }
/**************************************************************/
.image {
  opacity: 1;
  display: block;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #544844;
  border-radius: 25px;
  color: #ffbac0;
  font-family: "Merriweather", Courier, serif;
  font-size: 1rem;
  padding: 1rem 2rem;
}
/****Fancy grid code below courtesy of Mojtaba Seyedi, https://css-tricks.com/almanac/properties/g/grid-area/
modified by Juliet Crocco and myself********************************************/
/*.grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0;
}
.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin: 0;
}*/
@media (min-width: 900px){
  .grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(4, 25vh);
    grid-auto-rows: .5rem;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-width: 1500px;
  }
  .cert{
    grid-area: 2 / 3 / 2 / 4;
  }
  .art{
    grid-area: 1 / 1 / 4 / 2;
  }
  .telephone{
    grid-area: 3 / 4 / 4 / 4;
  }
  .photo {
    grid-area: 3 / 2 / 3 / 2;
  }
}
  @media (max-width: 900px){
    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
    .cert{
      max-width: 500px;
    }
    .art{
      max-width: 500px;
    }
    .telephone{
      max-width: 500px;
    }
    .photo {
      max-width: 500px;
    }
  }
  /**Code replaced by grid class, kept here just in case***
  .gallery{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  }
/*********Fursona and Wainscotting*********************************/
#dog-jail {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 0;
  position: relative;
  top: 2rem;
}
#gif {
  display: block;
  width: 100%;
  padding-bottom: 0;
  max-width: 500px;
}
/********************************ABOUT PAGE CODE*******************************************************************/
.about-page {
  color:#544844;
  text-align: center;
  background-color: #ffdee4;
  padding: 2rem 0;
}
.about-page a:link{
  text-decoration: none;
}
.about-image {
  display: inline-block;
  width: 100%;
  margin: auto;
}
.about_button {
  display: block;
  box-sizing: border-box;
  color:#ffbac0;
  font-family:"Merriweather", Courier, serif;
  font-weight:800;
  text-decoration: none;
  background-color:#544844;
  padding: 1rem;
  margin: 2rem auto;
  width: 25%;
  min-width: 10rem;
  border: none;
  border-radius: 25px;
  text-align: center;
}
.about_button:hover {
  opacity: 0.7;
  border: .25rem solid #ffbac0;
  border-radius: 25px;
  margin: 2rem auto;
}
/*******************************CONTACT PAGE CODE******************************************************************/
.contact-page {
  background-image: url('images/transparenttypewriter.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  width: 100vw;
  height: 100%;
  color:#544844;
  text-align: center;
  background-color: #ffdee4;
  padding: 0 0 20rem;
}
/*******************Contact Form Code***********************************/
form {
  display:inline-block;
  width: auto;
  text-align: center;
  padding: 1rem 4rem 40rem;
}
form ul {
  list-style-type: none;
  padding-left: 0;
  font-family: "Merriweather", Courier, serif;
  font-weight: bold;
  color:#544844
}
form li {
  list-style: none;
  margin: auto;
  padding: .5rem;
  /*background-image: url("images/BrownPointy_Stampright.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 2.5rem;*/
}
label {
  display: block;
  min-width: 90px;
  text-align: center;
  padding-bottom: .5rem;
}
input,
textarea {
  border: 3px solid #544844;
  border-radius: 25px;
  padding: 10px;
  width: 300px;
  font-family: "Reddit Mono", Courier, monospace;
  font-weight: bold;
}
.form_button {
  padding: .5rem;
  margin: 0;
  color: #544844;
  background-color: #ffbac0;
  border: 5px solid #544844;
  border-radius: 25px;
  min-width: 10rem;
  font-family:"Merriweather", Courier, serif;
  font-weight: bold;
}
@media (max-width: 900px){
  .contact-page {
  background-image: url('images/transparenttypewriter.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 1rem 0 20rem;
  }
  form {
    display:inline-block;
    width: auto;
    text-align: center;
    position: relative;
    padding: 0 0 50rem;
  }
}
/********************************THANK YOU PAGE CODE***********************************************************/
#thankyou-page {
  color:#544844;
  text-align: center;
  background-color: #ffdee4;
  padding: 2rem 0;
  width: 100vw;
  height: 100vh;
}
#thankyou-page img {
  display: inline-block;
  padding: 1rem;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 500px;
}
/********************************ART PAGE CODE*****************************************************************/
#art-page {
  color:#544844;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2rem;
}
#art-page h4 {
  display: inline;
  width: 100vw;
  margin: auto;
  padding: 1rem;
}
#art-page p{
  padding-bottom: 1rem;
}
.artwork-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
}
/**card coding courtesy of w3schools. See art.html for link**/
.card {
  /* Add shadows to create the "card" effect */
  /*box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);*/
  min-width: 300px;
  transition: 0.3s;
  border-radius: 25px;
  margin: 3rem;
}
.card img{
  border-radius: inherit;
  width: 100%;
}

/* On mouse-over, add a deeper shadow */
/*.card:hover {
  box-shadow: 0 2rem 4rem 0 rgba(0,0,0,0.2);
}*/

/* Add some padding inside the card container */
.artwork-container {
  padding: 1rem;
}
/****responsive sizing for grid****/
@media (max-width: 900px){
  .artwork-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: stretch;
  }
}
/********************************WEB DEV PAGE CODE*****************************************************************/
#webdev-page{
  color:#544844;
  text-align: center;
  background-color: #ffdee4;
  padding: 2rem 0;
  width: 100vw;
}
#webdev-page p{
  line-height: 35px;
}
p a:link {
  background-color:#544844;
  color: #ffbac0;
  padding: 5px;
  border-radius: 5px;
}
p a:visited {
  background-color:#544844;
  color: #ffbac0;
  padding: 5px;
  border-radius: 5px;
}
p a:hover {
  background-color:#ffdee4;
  color: #544844;
}
.badge-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 1rem 2rem;
  border: .5rem solid #544844;
  border-radius: 25px;
}
.badge {
  margin: 1rem;
}
.badge img {
  width: 100%;
}
@media (max-width: 900px){
  .badge-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: stretch;
  }
}
/*********Reused homepage code for interactive image links**********/
#otherdev {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 1rem 2rem;
}
#otherdev p{
  padding-top: 0;
  margin: 0;
}
/*********************************FOOTER CODE, USED EVERYWHERE JUST DOWN HERE BECAUSE. FOOTER.*********************/
  .smiconfoot{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: .5rem;
    justify-content: center;
  }
  .smicon{
    border-radius: 10px;
    margin: .25rem;
    width: 2rem;
  }

footer {
  background-color: #544844;
  color:#ffbac0;
  text-align: center;
  padding-bottom: 1rem;
  margin-top: auto;
  width: 100vw;
}
footer a:link{
  color:#ffdee4;
}
footer a:visited {
  color:#ffdee4;
}
footer a:hover {
  color: white;
}