/**CSS info from https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217**/
#toc-container {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 5px solid rgb(109, 49, 16);
    display: table;
    font-size: 100%;
    margin: 1rem auto 1rem;
    padding: 1rem;
    width: auto;
    width:50%
}

.toc-title {
    font-weight: 700;
    text-align: center;
    color:rgb(109, 49, 16)
}

#toc-container li, #toc-container ul, #toc-container ul li{
    list-style: outside none none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

figure img {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

figure figcaption{
    border: 2px solid rgb(109, 49, 16);
    text-align: center;
}

.header {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(109, 49, 16);
}
h1{
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color:rgb(109, 49, 16);
}

a:link {
color: rgb(109, 49, 16);
}
body{
    line-height: 1.5rem;
}
.site-intro{
    font-size: larger;
}